/* Background */
.root-pane {
    -fx-background-color: #1e1e1e;
    -fx-padding: 20;
}

/* Buttons */
.button {
    -fx-background-color: #2d2d30;
    -fx-text-fill: #eeeeee;
    -fx-background-radius: 8;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
    -fx-border-color: #3c3c3c;
    -fx-border-radius: 8;
}

.button:disabled {
    -fx-opacity: 1.0;
}


.button:hover {
    -fx-background-color: #3a3a3d;
}

.button:pressed {
    -fx-background-color: #007acc;
}

/* Text fields (if you add any) */
.text-field {
    -fx-background-color: #252526;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 6;
    -fx-border-color: #3c3c3c;
    -fx-border-radius: 6;
}

/* Labels */
.label {
    -fx-text-fill: #e5e5e5;
}
